* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.img-cont {
  width: 500px;
  position: relative;
}
.img-wrapper {
  width: "100%";
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  display: block;
  margin: auto;
}

.button-cont {
  width: "100%";
  height: "100%";
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}

.button-cont:hover {
  opacity: 1;
}

.button-cont > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}
.button-cont:hover {
  transform: translateY(0px);
}

.see-more-modal {
  background: rgb(69, 30, 3);
  color: white;
  margin: 40px 20px;
}
.see-more-header {
  color: rgb(243, 237, 243);
  margin-left: 40%;
  font-weight: bold;
}
.see-more-body {
  padding: 40px 10px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(135, 134, 134);
}
.see-more-footer {
  color: rgb(221, 212, 221);
  background-color: rgb(44, 39, 39);
}
